@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.customNavbar .navbar-toggler {
  background-color: gray;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* table  */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.download-icon:hover {
  cursor: pointer;
}
