.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 77vh;
  background-image: url("/heroImage.webp");
  background-size: cover;
  background-position: 20% 50%;

  h1 {
    font-size: 68px;
    font-weight: 600;
  }
}

.buttonComponent {
  background-color: #f5550a !important;
  padding: 10px 25px;
  border-radius: none;
}

.aboutUs {
  margin: 50px 0;
  font-family: Helvetica;

  h1 {
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    color: #f5550a;
    margin-bottom: 3.5rem;
  }

  h4 {
    font-weight: 400;
  }
}

.aboutSection {
  margin-bottom: 1.5rem;
}

.aboutSubSection {
  margin-top: 4rem;
  text-align: center;

  h4 {
    font-size: 1.65rem;
  }

  .aboutUsSubtitle {
    color: rgb(94, 94, 94);
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  ul {
    color: rgb(94, 94, 94);
    text-align: start;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
  }
}
